<!https://www.sliderrevolution.com/resources/css-tabs/>
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
    <head>
        <h1 align="center">Secure Smart Doorbell</h1>
        <link rel="stylesheet" href="/staticFiles/index.css">
        
    </head>
    <body>
        <main>  

<div id="wrapper" class="tabs" style="width:100%"">

  <div class="tab-2">
  <script>
      locked = true
      
      function unlock(){
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET",'/unlock',false)
          xmlHttp.send(null)
          locked = false
      }
      
      function lock(){
          var xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET",'/lock',false)
          xmlHttp.send(null)
          locked = true
      }
            
      
      function button() {
          var buttonElem = document.getElementById('doorLock')
          if (locked) {
              alert('You have unlocked the door')
              buttonElem.innerHTML = "Lock door"
              unlock()
          } else {
              alert('You have locked the door')
              buttonElem.innerHTML = "Unlock door"
              lock()
          }
  }
</script>
    
    <label for="tab2-1">Video Feed</label>
    <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
    <div class="inline-div">
      <h4>Door Action:</h4>
    <button id="doorLock" type="button" class="button" onclick="button()">Unlock door</button>
    <img src="{{ url_for('video_feed') }}" class="center">
    </div>
  </div>

  <div class="tab-2">
    <label for="tab2-2">Data Overview</label>
    <input id="tab2-2" name="tabs-two" type="radio">
    <div>
      <h4>Data Overview</h4>
      <div class="row">
        <div class="column">
          <img src="{{ url_for('static', filename='daysofweek.png') }}" alt="Days of Week" style="width:100%">
        </div>
        <div class="column">
          <img src="{{ url_for('static', filename='hoursofday.png') }}" alt="Hours of Day" style="width:100%">
        </div>
      </div>
    </div>
  </div>

  <div class="tab-2">
    <label for="tab2-3">Recent Images</label>
    <input id="tab2-3" name="tabs-two" type="radio">
    <div>
      <h4>Recent Images</h4>
      {% for link in links %}
    <ul>
        <img src= "/staticFiles/recent/{{link}}"></img>
    </ul>
{% endfor %}
    </div>
  </div>
</div>

</body>
</html>
